[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio for Platform
Icon=/opt/android-studio-for-platform-canary/bin/studio.svg
Exec=/usr/local/bin/asfp-studio %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-studio
StartupNotify=true
